.main-wrapper{
    width:100%;
    height:100vh;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.main-text{
    color: white !important;
    text-shadow: -1px 0 #000,0 1px #000, 1px 0 #000, 0 -1px #000 !important;
    font-family: "Gmarket-sans-bold";
}