h3,
h5 {
  padding: 0;
  margin: 0;
  font-family: "Gmarket-sans-medium";
}

section {
  padding: 0;
  margin: 0;
}

.portfolio-wrapper {
  width: 100%;
  height: 100vh;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.portfolio-wrapper-content {
  width: 90%;
  height: 90vh;
  /* background-color: rgba(255, 255, 255, 0.7); */
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-text {
  color: white;
  text-shadow: -1px 0 #000, 0 2px #000, 1px 0 #000, 0 -1px #000;
  font-family: "Gmarket-sans-bold";
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-pagination {
  bottom: 0px !important;
}

.swiper-pagination-bullet {

  width: 15px !important;
  height: 15px !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  background: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}




.img-wrap {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -999;
}

.content-wrap {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  z-index: -555;
}

/* .swiper-slide:hover {
background-color: rgba(30, 22, 54, 0.7) 0 80px 0px 2px inset;

} */

.swiper-slide:hover {
  background: #fff;
  color: #1AAB8A;
}

.swiper-slide:before,
.swiper-slide:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 8px;
  width: 0;
  background: #1AAB8A;
  transition: 400ms ease all;
}

.swiper-slide:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.swiper-slide:hover:before,
.swiper-slide:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.seprator {
  height: 20px;
}