@media (min-width: 768px) and (max-width: 1024px) {

    .logo-wrap {
        width: 300px;
        position: fixed;
        top: 10px;
        left: 5px;
        z-index: 999;
    }



}

@media (min-width: 481px) and (max-width: 767px) {
    .logo-wrap {
        width: 210px;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 999;
    }
}

@media (min-width: 265px) and (max-width: 480px) {
    .logo-wrap {
        width: 200px;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 999;
    }
}