@media (min-width: 768px) and (max-width: 1024px) {

    .logo-wrap {
        width: 300px;
        position: fixed;
        top: 10px;
        left: 5px;
    
    }



}

@media (min-width: 481px) and (max-width: 767px) {
    .logo-wrap {
        width: 170px;
        position: fixed;
        top: 5px;
        left: 0px;
  
    }
}

@media (min-width: 265px) and (max-width: 480px) {
    .logo-wrap {
        width: 170px;
        position: fixed;
        top: 5px;
        left: 0px;
    
    }
}