body {
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

.outer {
    height: 100vh;
    overflow-y: auto;
}

.outer::-webkit-scrollbar {
    display: none;
}

.divider {
    width: 100%;
    height: 5px;
    background-color: gray;
}

.logo-wrap {
    width: 300px;
    position: fixed;
    top: 10px;
    left: 5px;
    z-index: 2;
}

@font-face {
    font-family: "Gmarket-sans-bold";
    src: url('./design/fonts/GmarketSansTTFBold.ttf');
}

@font-face {
    font-family: "Gmarket-sans-medium";
    src: url('./design/fonts/GmarketSansTTFMedium.ttf');
}

@font-face {
    font-family: "Gmarket-sans-light";
    src: url('./design/fonts/GmarketSansTTFLight.ttf');
}

/* style.css */

/* 숨기려는 버튼을 골라서 쓰자 */

/* 전체화면 버튼 */
video::-webkit-media-controls-fullscreen-button {
    display: none !important;
}

/* 일시정지, 재생 버튼 */
video::-webkit-media-controls-play-button {
    display: none !important;
}

/* 재생 슬라이드..? */
video::-webkit-media-controls-timeline {
    display: none !important;
}

/* 현재 진행 시간 */
video::-webkit-media-controls-current-time-display {
    display: none !important;
}

/* 전체 시간 */
video::-webkit-media-controls-time-remaining-display {
    display: none !important;
}

/* 음소거 버튼 */
video::-webkit-media-controls-mute-button {
    display: none !important;
}

/* 볼륨 조절 슬라이드 */
video::-webkit-media-controls-volume-slider {
    display: none !important;
}

/* 괄호에 display: none !important; 를 추가하면된다.
 예 ) 전체화면 전환 버튼을 숨긴다. 
 다만 더블클릭으로 전체화면이 되는 기능등은 그대로고 단지 버튼만 없앤다. */

video::-webkit-media-controls-fullscreen-button {
    display: none !important;
}