body{
    margin:0;
    overflow-y: hidden;
}

.outer{
    height:100vh;
    overflow-y: auto;
}

.outer::-webkit-scrollbar{
    display:none;
}

.divider {
    width: 100%;
    height: 5px;
    background-color: gray;
  }